body {
    background: url('http://i.imgur.com/WK6tiox.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}

h1, p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

h1 {
    font-size: 3.6rem;
    line-height: 3.7rem;
}

p {
    font-size: 21px;
    font-weight: 300;
}

.wrapper-left {
    float:left;
    width: 50%
}

.wrapper-right {
    float:right;
    width: 50%;
}

.main-info {
    width: 50%;
    float: right;
    margin-top: 10%;
    margin-right:10%;
}

.map {
    margin-top:5%;
    margin-left:10%;
    background-image: url('../img/blackflatweb.png');
    width:290px;
    height: 611px;
}


.marker {
    background-color: orange;
    border: 5px solid orange;
    -webkit-border-radius: 30px;
    height: 3px;
    width: 3px;
    position: relative;
    left: 140px;
    top: 295px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-direction: alternate;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9); opacity: 1.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 1.0;}
}

#holder-one {
        margin-top: 217px;
        margin-left: 100px;
        position: relative;
        background: #01AA60;
    }

    .pulse-one {
            width: 10px;
            height: 10px;
            border: 5px solid #19faaf;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            background-color: #01AA60;
            z-index: 10;
            position: absolute;
        }
    .dot-one {
        border: 10px solid #19faaf;
        background: transparent;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        border-radius: 120px;
        height: 120px;
        width: 120px;
        -webkit-animation: pulse 3s ease-out;
        -moz-animation: pulse 3s ease-out;
        animation: pulse 3s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        position: absolute;
        top: -60px;
        left: -60px;
        z-index: 1;
        opacity: 0;
    }
    @-moz-keyframes pulse {
     0% {
        -moz-transform: scale(0);
        opacity: 0.0;
     }
     50% {
        -moz-transform: scale(0.2);
        opacity: 0.5;
     }
     100% {
        -moz-transform: scale(1);
        opacity: 0.0;
     }
    }
    @-webkit-keyframes "pulse" {
     0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
     }
     50% {
        -webkit-transform: scale(0.2);
        opacity: 0.5;
     }
     100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
     }

    }

#holder-two {
        margin-top: 340px;
        margin-left: 172px;
        position: relative;
        background: #01AA60;
    }
    .pulse-two {
            width: 10px;
            height: 10px;
            border: 5px solid #19DFFA;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            background-color: #0147C2;
            z-index: 10;
            position: absolute;
        }
    .dot-two {
        border: 10px solid #19DFFA;
        background: transparent;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        border-radius: 120px;
        height: 120px;
        width: 120px;
        -webkit-animation: pulse 3s ease-out;
        -moz-animation: pulse 3s ease-out;
        animation: pulse 3s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        position: absolute;
        top: -60px;
        left: -60px;
        z-index: 1;
        opacity: 0;
    }

#holder-three {
        margin-top: 409px;
        margin-left: 80px;
        position: relative;
        background: #01AA60;
    }
    .pulse-three {
            width: 10px;
            height: 10px;
            border: 5px solid #F19DF1;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            background-color: #C54DA4;
            z-index: 10;
            position: absolute;
        }
    .dot-three {
        border: 10px solid #F19DF1;
        background: transparent;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        border-radius: 120px;
        height: 120px;
        width: 120px;
        -webkit-animation: pulse 3s ease-out;
        -moz-animation: pulse 3s ease-out;
        animation: pulse 3s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        position: absolute;
        top: -60px;
        left: -60px;
        z-index: 1;
        opacity: 0;
    }
    




